.notification {
    color: white;
    text-decoration: none;
    padding: 0px 0px;
    display: inline-block;
    border-radius: 0px;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.userIcon{
    width: 36px;
    height: 36px;
    background: rgba(27, 25, 25, 0.27);
    border: 1px solid rgba(27, 25, 25, 0.27);
}

.userIconColor{
     color: orange;
 }
.userIconColorLogged{
    color: chartreuse;
}