<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>JspHtmlFilter</filter-name>
        <filter-class>com.imagine.neatfeat.controller.customer.filters.JspHtmlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JspHtmlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CheckoutFilter</filter-name>
        <filter-class>com.imagine.neatfeat.controller.customer.filters.CheckoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckoutFilter</filter-name>
        <url-pattern>/checkout</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.imagine.neatfeat.controller.customer.listeners.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.imagine.neatfeat.controller.customer.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.imagine.neatfeat.controller.customer.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.imagine.neatfeat.controller.customer.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>com.imagine.neatfeat.controller.customer.servlets.ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.imagine.neatfeat.controller.customer.servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.imagine.neatfeat.controller.customer.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/home</welcome-file>
    </welcome-file-list>

    <!--Mahmoud Shereif-->

    <!--Amr El Kady-->

    <!--Alia Mahmoud-->

    <!--Amer Salah-->

    <!--Nouran Habib-->

</web-app>